{% extends 'base_generic.html' %}
{% load thumbnail compress %}
{% load static from staticfiles %}

{% block page_type %}sponsor{% endblock page_type %}

{% block title %}Sponsor List | {{ block.super }}{% endblock title %}

{% block content %}
<div class="main-hold">
{% include 'sponsors/includes/sidebar.html' with active_nav='inquiry_create' %}
<div id="content">
  <div class="sponsor-list-heading">
    <h1>Discover Companies like yours who have<br> found success with CrowdStreet</h1>
  </div>

    <div class="row">


  </div>







</div>
{% endblock %}
